# Config file for automatic testing at travis-ci.org
sudo: false  # http://docs.travis-ci.com/user/migrating-from-legacy/
language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
install: pip install -r requirements/dev.txt
before_script: bower install  # flask lint
script: pytest tests  # flask test
