.body-content {
  padding-top: 40px;
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0;
  color: #000000 !important;
}

.bootstrap-growl {
  color: #777777;
  background-color: #eeeeee;
  border-color: #b9c7d2;
}
