
{% extends "layout.html" %}

{% block page_title %}{{ super() }} Blog {% endblock %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/blog.css') }}">
{% endblock %}

{% block content %}
<div class="body-content">

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="page-header">
          Page Heading
          <small>Secondary Text</small>
        </h1>

        <!-- First Blog Post -->
        <h2>
          <a href="{{ url_for('public.post1') }}">Blog Post Title 1</a>
        </h2>
        <p class="lead">by Start Bootstrap</p>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> Posted on August 28, 2013 at 10:00 PM</p>
        <hr>
        <img class="img-responsive" src="https://placehold.it/900x300" alt="">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
        <a class="btn btn-primary" href="{{ url_for('public.post1') }}">Read More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>

        <hr>

        <!-- Second Blog Post -->
        <h2>
          <a href="{{ url_for('public.post2') }}">Blog Post Title 2</a>
        </h2>
        <p class="lead">by Start Bootstrap</p>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> Posted on August 28, 2013 at 10:45 PM</p>
        <hr>
        <img class="img-responsive" src="https://placehold.it/900x300" alt="">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>
        <a class="btn btn-primary" href="{{ url_for('public.post2') }}">Read More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>

        <hr>

        <!-- Third Blog Post -->
        <h2>
          <a href="{{ url_for('public.post3') }}">Blog Post Title 3</a>
        </h2>
        <p class="lead">by Start Bootstrap</p>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> Posted on August 28, 2013 at 10:45 PM</p>
        <hr>
        <img class="img-responsive" src="https://placehold.it/900x300" alt="">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
        <a class="btn btn-primary" href="{{ url_for('public.post3') }}">Read More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>

        <hr>

        <!-- Pager
        <ul class="pager">
          <li class="previous">
            <a href="#">&larr; Older</a>
          </li>
          <li class="next">
            <a href="#">Newer &rarr;</a>
          </li>
        </ul>
        -->

      </div>

      <!-- Blog Sidebar Column -->
      <div class="col-md-4">
        {% include "public/blog-nav.html" %}
      </div>

    </div>
    <!-- /.row -->

    <!-- <hr> if pager -->

  </div>
  <!-- /.container -->

</div>
{% endblock %}
